.searchNav{
	display: flex;
	margin-top:5%;
	justify-content:center;
	&__Bar{
		width: 70%;
		&--input{
			width: 100%;
			height: 35px;
			border: 1px solid white;
			border-radius: 10px;
			padding-left: 5px;
			color: white;
			background: rgba(255,255,255,0.3);
		}
	}
	&__button{
		margin-left: 1%;
		&--but{
			width:80px;
			height: 35px;
			border: 1px solid white;
			color: white;
			border-radius: 10px;
			background: rgba(255,255,255,0.3);
		}
		.currentLocation{
			width: 150px;
		}
	}
}