.weatherInfo{	
	&__current{
		min-height: 400px;
		text-align: center;
	}
	&__main{
		margin-top: 5%;
		font-size: 50px;
	}
	&__minMax{
		margin-top: 5%;
		margin-bottom: 5%;
		display: flex;
		justify-content:center;
		font-size: 35px;
		div{
			margin: 0 7%;
		}
	}
	&__name{
		font-size: 20px;
		margin-left: -20px;
	}
	&__forecast{
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 20px;
		display: flex;
		justify-content:space-around;
		background: rgba(0,0,0,0.8);
		color: white;
		border-radius: 15px;
	}
	&__element{
		border-left: 2px solid black;
		padding-left: 1%;
	}
}