.searchNav {
  display: flex;
  margin-top: 5%;
  justify-content: center;
}
.searchNav__Bar {
  width: 70%;
}
.searchNav__Bar--input {
  font-size: 20px;
  width: 100%;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 5px;
  background: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}
.searchNav__Bar--input:focus {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 15px;
}
.searchNav__button {
  margin-left: 1%;
}
.searchNav__button--but {
  width: 80px;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}
.searchNav__button--but:hover {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  cursor: pointer;
  border-radius: 15px;
}
.searchNav__button .currentLocation {
  width: 150px;
}