.weatherInfo__current {
  text-align: center;
}
.weatherInfo__main {
  margin-top: 5%;
  font-size: 50px;
}
.weatherInfo__minMax {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  font-size: 35px;
}
.weatherInfo__minMax div {
  margin: 0 7%;
}
.weatherInfo__name {
  font-size: 20px;
  margin-left: -20px;
}
.weatherInfo__forecast {
  margin-top: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 15px;
}
.weatherInfo__element {
  border-left: 2px solid black;
  padding-left: 1%;
}